<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eveniet error placeat modi neque numquam, ut
            inventore sapiente dolorem. Explicabo adipisci cum temporibus quas eaque omnis, nobis voluptas consequuntur
            eos repellat laboriosam. Incidunt, officia quidem vitae ut nihil enim reiciendis?
        </p>
    </div>
</div>