<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Noteja and MONGODB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aperiam non est optio sed, veniam unde,
        necessitatibus consequuntur officia itaque sit minima sint doloremque vel tempora excepturi, aliquid adipisci
        illum.
    </p>
    <a href="#" class="btn btn-primary btn-lg">FaztWeb</a>
</div>